{% extends 'layout.html' %}

{% block body %}
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Admin Dashboard</h2>
            <p>This dashboard is designed for admin, click buttons carefully!</p>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <h2>All Galleries</h2>
        <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for gallery in galleries %}
            <tr>
              <th scope="row">{{gallery.id}}</th>
              <td>{{gallery.title}}</td>
              <td>{{gallery.content}}</td>
              <td><a href="/edit/{{gallery.slug}}"><button class="btn btn-primary m-2">Edit</button></a><button class="btn btn-danger m-2">Delete</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>

        <h2>All Contacts</h2>
        <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Subject</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <th scope="row">{{contact.id}}</th>
              <td>{{contact.name}}</td>
              <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
              <td>{{contact.subject}}</td>
              <td>{{contact.message}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock body %}