{% extends 'layout.html' %}

{% block body %}
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Admin Dashboard</h2>
            <p>This dashboard is designed for admin, click buttons carefully!</p>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <p>
          Page under construction...
        </p>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock body %}