{% extends 'layout.html' %}

{% block body %}
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>{{gallery.title}}</h2>
            <p>Here you will see the trees, the mountains and definetly our natural Earth!</p>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{url_for('static', filename='/img/gallery/gallery-8.jpg')}}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{{url_for('static', filename='/img/gallery/gallery-9.jpg')}}" alt="">
              </div>
              <div class="swiper-slide">
                <img src="{{url_for('static', filename='/img/gallery/gallery-10.jpg')}}" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>{{gallery.title}}</h2>
              <p>
                {{gallery.content}}
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  The nature is origin, and there is no doubt
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="{{url_for('static', filename='/img/testimonials/testimonials-1.jpg')}}" class="testimonial-img" alt="">
                  <h3>RkVirus</h3>
                  <h4>Photographer</h4>
                </div>
              </div>

              <p>
                Wanna know who is RkVirus? Go and google it! I'm not gonna tell you anything here...
              </p>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Nature Photography</span></li>
                <li><strong>Client</strong> <span>Rk Naturals</span></li>
                <li><strong>Project date</strong> <span>10 March, 2023</span></li>
                <li><strong>Project URL</strong> <a href="https://rkvirus.me/blog/nature">www.rk-natural.com</a></li>
                <li><a href="https://rkvirus.me" class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Single Section -->

  </main><!-- End #main -->
{% endblock body %}